<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="UTF-8">
  <title>TodoList</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <style type="text/css">
    @import url("./css/Main.css");
  </style>


</head>

<body>
  <div id="app">
    <aside>
      <div class="accountInfo">
        <div id="icon">ICON</div>
        <div id="search">S</div>
      </div>
      <hr>
      <ul v-for="(folderObj,index) in folderTrees" :key="index">
        <h3><li @click="toggleFolder(folderObj)">{{folderObj.title}}</li></h3>

        <div v-show="folderObj.showChild">
        <div id="addList" @click="addList(folderObj)">新建清单</div>
        <ul v-for="(listObj,index) in folderObj.content" :key="index">
            <li @click="toggleList(listObj)">{{listObj.listName}}</li>
        </ul>
      </div>
      </ul>

      <div id="asideBar">
        <div id="addFolder"@click="addFolder()">新建组</div>
      </div>

    </aside>
    <div id = "container" v-if="currentList!=null">
      <header>
        <h1>{{currentList.listName}}</h1>
      </header>

      <div id= "listBody" >
      <h2>未完成 ({{unFinishedList.length}}件)</h2>
      <ul id="todoList">
        <li v-for="(todo,index) in unFinishedList" :key="index">
            <input type="checkbox" @click.prevent="complete(todo)">
            <div class="itemFrame">{{todo.content}}</div>
        </li>
      </ul>

      <hr>

      <h2>已完成({{FinishedList.length}}件)</h2>
      <ul id="finishList">
        <li v-for="(todo,index) in FinishedList" class="finished" :key="index">
          <input value="on" value="true" type="checkbox" @click.prevent="uncomplete(todo);return false;" checked>
          <div class="itemFrame">{{todo.content}}</div>
        </li>
      </ul>
      </div>

      <footer>
        <form>
          <input type="text" id="inputText" v-model="inputText" placeholder="添加任务" onclick="this.placeholder=''" οnblur="this.placeholder='添加任务'" autocomplete="off">
          <input type="submit" value="提交" @click.prevent="addTodoItem()">          
        </form>
      </footer>
    </div>
  </div>


</body>
<script src="./js/script.js"></script>
</html>