<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>TodoList</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <style type="text/css">
    @import url("./css/Main.css");
  </style>
</head>
<body>

<div id="side-menu">
123
</div>
<div id="app">
  <h1>编程练习之10天内写一个TodoList</h1>

  <ul id= "todoList">
    <h2>未完成 ({{todoList.length}}件)</h2>
    <li v-for="(todo,index) in todoList" :key="index">
      <label>
        <input type="checkbox" @click.prevent="complete(index)"> {{todo.title}}
      </label>
      {{todo.content}} {{todo.updateTime}} INDEX:{{index}}
    </li>
  </ul>
  <hr>
  <ul id="finishList">
    <h2>已完成({{finishedTodo.length}}件)</h2>
    <li v-for="(todo,index) in finishedTodo" class="finished" :key="index">
      <input value="on" value="true" type="checkbox" @click.prevent="recover(index);return false;" checked> {{todo.title}} {{todo.content}} {{todo.updateTime}} INDEX:{{index}}
    </li>
  </ul>
</div>
</body>
<script>
  //get From Server
  let todoList= [
    {title:"未完成1",content:"is a",updateTime:new Date().toLocaleDateString()},
    {title:"未完成2",content:"is b",updateTime:new Date().toLocaleDateString()},
    {title:"未完成3",content:"is c",updateTime:new Date().toLocaleDateString()}
  ];

  let finishedTodo =[
    {title:"完成1",content:"is a",updateTime:new Date().toLocaleDateString()},
    {title:"完成2",content:"is b",updateTime:new Date().toLocaleDateString()},
    {title:"完成3",content:"is c",updateTime:new Date().toLocaleDateString()}
  ];

  new Vue({
    el:"#app",
    data: {
      todoList:todoList,
      finishedTodo:finishedTodo
    },
    methods:{
      complete:function (index){
        let updatedTodo=todoList.splice(index,1)[0];
        finishedTodo.unshift(updatedTodo);
      },
      recover:function (index){
        let updatedTodo=finishedTodo.splice(index,1)[0];
        todoList.push(updatedTodo);
      }
    }
  });
</script>
</html>